
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row container-fluid">
    <div class="col-sm-8 col-sm-offset-2 content" align="center">
        <h1>Start</h1>
        <br/>

        

    </div>

</div>
