@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Admin</h1>
<h4>
    Här kan du administrera sidan.
    Klicka på länkarna
</h4>
<br />
<div class="row container-fluid">

    <div class="col-sm-4">
        <a asp-controller="AdminUser" asp-action="Index">
            <div id="div-index-link-blue" align="center">
                <br/>
                <span class="glyphicon glyphicon-user gi-5x"></span>
                <p>Användare</p>
            </div>
        </a>
    </div>


    <div class="col-sm-4">
        <a asp-controller="AdminProduct" asp-action="Index">
            <div id="div-index-link-yellow">
                <br/>
                <span class="glyphicon glyphicon-list-alt gi-5x"></span>
                <p>Produkter</p>
            </div>
        </a>
    </div>


    <div class="col-sm-4">
        <a asp-controller="AdminOrder" asp-action="Index">
            <div id="div-index-link-green">
                <br/>
                <span class="glyphicon glyphicon-shopping-cart gi-5x"></span>
                <p>Beställningar</p>
            </div>
        </a>
    </div>

</div>