@model List<TomasosASP.ViewModels.AdminUserIndex>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


        <div class="div-content">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Användarnamn</th>
                    <th>Nuvarande Roll</th>
                    <th>Alternativ</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in @Model)
                {
                    <tr>
                        <td>@item.User.UserName</td>
                        <td>@item.Role</td>
                        <td>
                            
                            <a asp-controller="AdminUser" asp-action="EditRole" asp-route-user="@item.User.UserName"
                               class="btn btn-sm btn-warning">
                                <i class="icon-edit"></i> Ändra Roll
                            </a>
                            &nbsp;&nbsp;
                            <a asp-controller="AdminUser" asp-action="DeleteUser" asp-route-userName="@item.User.UserName"
                               class="btn btn-sm btn-danger">
                                <i class="icon-edit"></i> Radera
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
   