@model TomasosASP.ViewModels.AccountModel


<label>För och Efternamn</label><br />
<input class="form-control" asp-for="Customer.Namn" type="text" /><br />
<span asp-validation-for="Customer.Namn"></span>
<br />
<label asp-for="Customer.Gatuadress"></label><br />
<input class="form-control" asp-for="Customer.Gatuadress" type="text" /><br />
<span asp-validation-for="Customer.Gatuadress"></span>
<br />
<label asp-for="Customer.Postnr"></label><br />
<input class="form-control" class="form-control" asp-for="Customer.Postnr" type="text" /><br />
<span asp-validation-for="Customer.Postnr"></span>
<br />
<label asp-for="Customer.Postort"></label><br />
<input class="form-control" asp-for="Customer.Postort" type="text" /><br />
<span asp-validation-for="Customer.Postort"></span>
<br />
<label asp-for="Customer.Email"></label><br />
<input class="form-control" asp-for="Customer.Email" type="email" />
<br /><br />
<label asp-for="Customer.Telefon"></label><br />
<input class="form-control" asp-for="Customer.Telefon" type="text" />
<br /><br /><br />

<label asp-for="Customer.AnvandarNamn"></label><br />
<input class="form-control" asp-for="Customer.AnvandarNamn" type="text" /> <br />
<span asp-validation-for="Customer.AnvandarNamn"></span>
@if (Model != null && Model.Unique == false)
{
    <label class="text-danger">Användarnamnet finns redan</label>
}

<br /><br />

