@model TomasosASP.Models.Kund


    <label>För och Efternamn</label><br />
    <input asp-for="Namn" type="text" /> <span asp-validation-for="Namn"></span>
    <br /><br />
    <label asp-for="Gatuadress"></label><br />
    <input asp-for="Gatuadress" type="text" /> <span asp-validation-for="Gatuadress"></span>
    <br /><br />
    <label asp-for="Postnr"></label><br />
    <input asp-for="Postnr" type="text" /> <span asp-validation-for="Postnr"></span>
    <br /><br />
    <label asp-for="Postort"></label><br />
    <input asp-for="Postort" type="text" /> <span asp-validation-for="Postort"></span>
    <br /><br />
    <label asp-for="Email"></label><br />
    <input asp-for="Email" type="email" />
    <br /><br />
    <label asp-for="Telefon"></label><br />
    <input asp-for="Telefon" type="text" />
    <br /><br /><br />
    <label asp-for="AnvandarNamn"></label><br />
    <input asp-for="AnvandarNamn" type="text" /> <br />
    <span asp-validation-for="AnvandarNamn"></span>
    <br /><br />
    
