@model TomasosASP.ViewModels.AccountModel
@{
    ViewData["Title"] = "AccountEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Uppdatera Kundinformation</h2>
<br/>

<form asp-controller="Account" asp-action="EditConfirmation" method="post">
    @Html.Partial("_UserRegistration", Model)
    

    <input class="form-control" type="hidden" asp-for="Customer.Losenord" value="@Model.Customer.Losenord"/> <br/>
    <span asp-validation-for="Customer.Losenord"></span>
    <input asp-for="Customer.Poang" type="hidden" value="@((int)0)" />

    <br/>
    <br/>

    <input id="register" type="submit" value="Registrera"/>
    <br/>
    <br/>


</form>