@{
    ViewData["Title"] = "EditConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>
    Uppgifterna har uppdaterats. Klicka <a asp-controller="Home" asp-action="Start">Här</a> för att komma till startsidan.
</h3>
<br/><br/>