
@{
    ViewData["Title"] = "EditConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row container-fluid">
    <div class="col-sm-8 col-sm-offset-2 home-col-logoff content" align="center">

        <h3>Uppgifterna har uppdaterats. Klicka <a asp-controller="Home" asp-action="Start">Här</a> för att komma till startsidan.</h3>
        <br/><br/>

    </div>


</div>

