@{
    ViewData["Title"] = "EditConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>
    Uppgifterna har uppdaterats. 
</h3>
<a class="btn btn-primary" asp-controller="Home" asp-action="Start">Startsidan</a>
<br /><br />