@model TomasosASP.ViewModels.TomasosModel
@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Account" asp-action="Login" method="post">
    <label class="modalText">Användarnamn</label><br />
    <input asp-for="Customer.AnvandarNamn" class="modalInput" type="text" />
    <br /><br />
    <label class="modalText">Lösenord</label><br />
    <input asp-for="Customer.Losenord" class="modalInput" type="password" />
    <input id="login" type="submit" value="Logga in" />
</form>

