@model TomasosASP.Models.Kund
@{
    ViewData["Title"] = "Login";
}
<body class="background">
    <form asp-controller="Account" asp-action="Login" method="post">
        <label class="modalText">Användarnamn</label><br />
        <input asp-for="AnvandarNamn" class="modalInput" type="text" />
        <br /><br />
        <label class="modalText">Lösenord</label><br />
        <input asp-for="Losenord" class="modalInput" type="password" />
        <input id="login" type="submit" value="Logga in" />
    </form>

</body>