@model TomasosASP.ViewModels.TomasosModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row container-fluid">
    <div class="col-sm-8 col-sm-offset-2 home-col-logoff content" align="center">

        <h2>Registrera ny användare</h2>
        <br />
        <form asp-controller="Account" asp-action="Register" method="post">
            @Html.Partial("_UserRegistration", Model)
            <label asp-for="Customer.Losenord">Lösenord</label><br />
            <input asp-for="Customer.Losenord" type="password" /> <br />
            <span asp-validation-for="Customer.Losenord"></span>
            <br /><br />
            <input id="register" type="submit" value="Registrera" />
            <br /><br />


        </form>

    </div>


</div>
