@model TomasosASP.ViewModels.AccountModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Registrera ny användare</h2>
<br/>
<form asp-controller="Account" asp-action="Register" method="post">
    @Html.Partial("_UserRegistration", Model)

    <label asp-for="Customer.PasswordHash">Lösenord</label><br />
    <input class="form-control" asp-for="Customer.PasswordHash" type="password" /> 
    <span class="text-danger" asp-validation-for="Customer.PasswordHash"></span><br />
    <input asp-for="Customer.Points" type="hidden" value="@((int)0)" />
    <br /><br />
    <input id="register" type="submit" value="Registrera" />
    <br /><br />
    @*@Html.ValidationMessageFor(x => x.Customer.AnvandarNamn)*@


</form>