@model TomasosASP.ViewModels.AdminNewIngredient
@{
    ViewData["Title"] = "NewIngredient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row container-fluid">
    <div class="col-sm-6">

        <form asp-controller="AdminProduct" asp-action="SaveIngredient">
            <label asp-for="NewIngredient.Name">Ny Ingrediens</label><br/>
            
            <br/><br/>
            <input class="form-control" type="text" autocomplete="off" asp-for="NewIngredient.Name"/>
            <span asp-validation-for="NewIngredient.Name"></span>
            <br/><br/>
            <input type="submit" class="btn btn-success btn-lg"/>
        </form>

    </div>

    <div class="col-sm-4 col-sm-offset-1">

        <label>Befintliga ingredienser</label>
        <br/><br/>
        <ul align="left">
            @foreach (var item in @Model.Ingredients)
            {
                <li>@item.Name</li>
            }
        </ul>
    </div>


</div>