@model TomasosASP.ViewModels.TomasosModel
@{
    ViewData["Title"] = "ContactPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Kontakt</h1>
<br/>
<div class="row container-fluid">
    <div class="col-sm-12" align="left">
        <label>Adress: </label>
        <p>Storgatan 76, 12345 Storstaden</p>
        <br/>
        <label>Telefon: </label>
        <p>08-88 55 22</p>
        <br/>
        <label>Öppettider: </label>
        <p>Mån-Fre: 10-22</p>
        <p>Lör-Sön: 11-22</p>

    </div>
</div>