@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img class="scaledown" src="~/Images/886abc75869b5ad7a0386f72f2422305_rwsitelogo.png"/>
<h1>Välkommen till Tomasos Pizzeria!</h1>
<hr/>
<h3>
    Tomasos Pizzeria är ett familjeföretag bestående av flera <br/>generationer som bär på en stor kärlek till mat och i synnerhet pizza.<br/> <br/>
    Sedan 1993 har vi på Stortorget i Storstaden bakat pizzor med passion och åren av erfarenhet har byggt upp en strävan efter att ständigt bli
    bättre och att anpassa våra pizzor efter allas smaker. <br/><br/>Vår målsättning är fräsch och närproducerad mat, mat för kropp och själ.
    Vi vill tillgodose olika behov och försöker även ta hänsyn till allergier och överkänslighet mot diverse livsmedel som är en del av många människors vardag.
    För oss på Tomasos är det viktigt med god kvalité och välmående, såväl för våra kunder som för vår planet.
</h3>
<h1>Välkomna!</h1>