.background {
    background-image: url('../images/chili_pizza_with_tomato_garlic_olives_and_cheese-1920x1080.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.background-admin {
    background-size: cover;
    background-image: url('../images/brick-bricks-pattern-wallpaper-1920x1080.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
a {
outline:none;

}
a:focus {
    outline: none;
}
.modal-open .modal .btn:focus {
    outline: none !important;
}
.checkout-table {
    width: 100%;
}
.table-row {
    margin-top: 50px !important;
    margin-bottom: 50px;
    border-bottom: solid lightgray 1px;
   
}
.left {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
}
.left-margin {
    padding-top: 10px;
    padding-bottom: 10px;
    float: right;
    margin-right: 45%;
}
h1 {
    font-family: georgia;
}
.modal-content {
    background-image: url('../images/pasta_liver_wine_glass_table_tomatoes_77966_1920x1080.jpg');
    background-size: cover;
}
.modalText {
    color: lightgoldenrodyellow;
    
}
.modalInput {
    opacity: 0.8;
}

.admin-col {
    opacity: 0.85;
    background-color: white;
}
.rightcol {
    margin-right: 70px;
    margin-top: 125px;
    float: right;
}
.menuhead {
    font-size: 80px;
}
.menutype {
    font-size: 60px;
}
.menu-col {
    margin-top: 0;
    border-top: solid lightgray;
    padding: 20px;
}
.content {
    background-color: white;
    opacity: 0.9;
    margin-top: 100px;
}
.content-menu {
    background-color: white;
    opacity: 0.9;
}
.div-content {
    margin-top: 50px;
    margin-bottom: 50px;
}

.dropdown-text {
    color: white;
}
img.scaledown {
    width: 200px;
    height: auto;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    float: right;
}

#myBtn:hover {
    background-color: #555;
}

.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
}



.back-to-top i {
 
    font-size: 60px;
 
}

#discount {
    font-weight: bolder;
    color: red;
}
.btn-remove {
    float: right !important;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}


.admin-table-user {
    border: solid grey 1.5px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}

.edit-form {
    background-color: white;
    opacity: 0.9;
    margin: 50px;
}
/*///////////////////////////////////////////////////////////////M- Style/////////////////////////////////////////////////////*/

.div-min-flex {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

td, th {
    padding: 5px;
}


/*table {
    background-color: white;
    opacity: 0.9;
}

/*.div-min-block {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 10px;
}

.div-ingredients-add {
    float: left;
    width: 30%;
    display: block;
    margin-right: 10px;
}

#div-ingredients {
    float: left;
    display: block;
    width: 30%;
    margin-right: 10px;
}

.div-half {
    width: 50%;
    float: left;
}

table, form {
    margin: auto;
}

*//*


#save-edit-product {
    clear: left;
}

input, select {
    margin: 4px;
}

.div-min-flex button, .div-min-flex a, .validation, .div-min-block button, .div-min-block a {
    margin: 6px 4px 6px 4px;
}

label {
    display: block;
    float: left;
    margin: 2px;
    width: 100px;
}

.div-clear-left {
    clear: left;
}*/